<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'logo-white.png', style: "height: 1rem;" %>
    <span class="d-none d-md-inline">
      S<span class="brand-compact" style="width: 49px;">heffie</span>l<span class="brand-compact" style="width: 14px;">d </span>U<span class="brand-compact" style="width: 78px;">niversity </span>G<span class="brand-compact" style="width: 51px;">aming </span>Soc<span class="brand-compact" style="width: 34px;">iety</span>
    </span>
    <span class="d-md-none">SLUGS Gaming Society</span>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link #{active?(root_path)}" do %>
          <%= icon('fas', 'home') %>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to upcoming_events_path, class: "nav-link #{active?(upcoming_events_path)}" do %>
          <%= icon('fas', 'calendar') %>
          Events
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to lan_path, class: "nav-link #{active?(lan_path)}" do %>
          <%= icon('fas', 'desktop') %>
          LANs
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to committee_path, class: "nav-link #{active?(committee_path)}" do %>
          <%= icon('fas', 'users') %>
          Committee
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to contact_us_path, class: "nav-link #{active?(contact_us_path)}" do %>
          <%= icon('fas', 'envelope') %>
          Contact Us
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= icon('fas', 'crown') %>
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to events_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'calendar', class: 'fa-fw') %>
              Events
            <% end %>
            <%= link_to games_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'gamepad', class: 'fa-fw') %>
              Games
            <% end %>
            <%= link_to platforms_path, class: 'dropdown-item' do %>
              <%= icon('fab', 'steam', class: 'fa-fw') %>
              Platforms
            <% end %>
            <%= link_to  game_event_relations_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'calendar', class: 'fa-fw') %>
              Add Games to Events
            <% end %>
            <%= link_to  releases_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'gamepad', class: 'fa-fw') %>
              Add Games to Platforms
            <% end %>
            <%= link_to  codes_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'book', class: 'fa-fw') %>
              Codes of Conduct
            <% end %>
            <%= link_to  rules_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'book-open', class: 'fa-fw') %>
              All Rules
            <% end %>
            <%= link_to  sponsors_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'hand-holding-usd', class: 'fa-fw') %>
              Sponsors
            <% end %>
            <%= link_to  members_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'users', class: 'fa-fw') %>
              Commitee
            <% end %>
            <%= link_to  platform_accounts_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'user-circle', class: 'fa-fw') %>
              Accounts
            <% end %>
            <%= link_to  servers_path, class: 'dropdown-item' do %>
              <%= icon('fas', 'server', class: 'fa-fw') %>
              Game Servers
            <% end %>
          </div>
        </li>
        <li class="nav-item mr-1">
          <%= link_to sign_up_path, class: "nav-link #{active?(sign_up_path)} btn btn-students-union" do %>
            <%= icon('fas', 'external-link-alt') %>
            Join Us
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link btn btn-danger" do %>
            <%= icon('fas', 'sign-out-alt') %>
            Sign Out
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto text-center">
      <form class="form-inline mr-3">
        <div class="btn-group mx-auto">
          <%= link_to discord_invite_link, class: 'btn btn-discord' do %>
            <span>
              <i class="fab fa-discord"></i>
              <span class="expand-text">Discord</span>
            </span>
          <% end %>
          <%= link_to facebook_page_link, class: 'btn btn-facebook' do %>
            <span>
              <i class="fab fa-facebook"></i>
              <span class="expand-text">
                Facebook
              </span>
            </span>
          <% end %>
          <%= link_to twitter_page_link, class: 'btn btn-twitter' do %>
            <span>
              <i class="fab fa-twitter"></i>
              <span class="expand-text">
                Twitter
              </span>
            </span>
          <% end %>
        </div>
      </form>
      <li class="nav-item">
        <% if @lan %>
          <%= link_to 'LAN', @lan, class: 'btn btn-secondary' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
