<p id="notice"><%= notice %></p>

<h1>
  Platforms
  <%= link_to new_platform_path, class: 'btn btn-success' do %>
    <%= icon('fas', 'plus-square') %>
    Create New
  <% end %>
</h1>

<table class="table table-borderless">
  <tbody>
    <% @platforms.each do |platform| %>
      <tr>
        <td class="align-middle text-right bg-<%= platform.bootstrap_class %>">
          <%= icon(*platform.icon.split) unless platform.icon.nil? %>
          <%= platform.name %>
        </td>
        <td class="align-middle">
          <div class="btn-group d-flex">
            <%= link_to platform, class: 'btn btn-info w-100' do %>
              <%= icon('fas', 'info-circle', 'Show') %>
            <% end %>
            <%= link_to edit_platform_path(platform), class: 'btn btn-warning w-100' do %>
              <%= icon('fas', 'edit', 'Edit') %>
            <% end %>
            <%= link_to platform, class: 'btn btn-danger w-100', method: :delete, data: { confirm: "Are you sure you want to delete #{platform.name} from the platforms list?" } do %>
              <%= icon('fas', 'trash', 'Delete') %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Platform', new_platform_path %>
