<p>
  <h2><%= icon(*@platform.icon.split) if @platform.icon %> <%= @platform.name %></h2>
</p>

<p>
  <h2>Games</h2>
  <% @platform.games.each do |game| %>
    <%= link_to game.name, edit_game_path(game) %>
    <% unless game.equal? @platform.games.last %>
      |
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
