<%= form_with(model: platform_account, local: true) do |form| %>
  <% if platform_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(platform_account.errors.count, "error") %> prohibited this platform_account from being saved:</h2>

      <ul>
      <% platform_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :platform_id %>
    <%= form.text_field :platform_id %>
  </div>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.text_field :member_id %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </div>

  <div class="field">
    <%= form.label :internal_link %>
    <%= form.text_field :internal_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
