<h1>Platform Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Platform</th>
      <th>Member</th>
      <th>Tag</th>
      <th>Internal link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @platform_accounts.each do |platform_account| %>
      <tr>
        <td><%= platform_account.platform %></td>
        <td><%= platform_account.member %></td>
        <td><%= platform_account.tag %></td>
        <td><%= platform_account.internal_link %></td>
        <td><%= link_to 'Show', platform_account %></td>
        <td><%= link_to 'Edit', edit_platform_account_path(platform_account) %></td>
        <td><%= link_to 'Destroy', platform_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Platform Account', new_platform_account_path %>
