<section id="header" class="row d-flex align-items-center" style="min-height: 93.9vh;background: url(<%= asset_path 'duotone/LAN66CRAWL-DUOTONE.jpg' %>) no-repeat fixed center; background-size: cover;">
  <%= render 'components/notice' %>
  <div class="col-md p-3">
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center">
        <%= image_tag 'logo-white.png', class: 'w-100' %>
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center">
        <div class="p-3 rounded" style="background-color: rgba(0, 0, 0, 0.7);">
          <h2>Welcome to SLUGS!</h2>
          <p>SLUGS is the University of Sheffield society for <b>video games</b>. Whether you've only ever played <i>Wii Sports</i> or <i>League of Legends</i> is more your style, SLUGS welcomes a <b>wide variety of games and players</b>!</p>
          <p>We meet on <b>Tuesdays</b> for drinks and games, and <b>LANs</b> are hosted on a roughly monthly basis.</p>
          <p>
          <b>Not a member yet?</b> <%= link_to sign_up_path, class: 'text-students-union' do %>Sign up <%= icon('fas', 'external-link-alt') %><% end %> or join our <%= link_to @discord_invite_link, class: 'text-discord' do %>Discord server <%= icon('fab', 'discord') %><% end %>!<br />
            Read on for a taster of what it's like to game with SLUGS.<br />
            <b>Already a SLUG?</b> <%= link_to 'Check out what\'s coming up.', '#events' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="events" class="my-5" style="min-height: 50vh;">
  <div class="d-flex flex-column flex-md-row align-items-center">
    <h1>Upcoming Events</h1>
    <div class="ml-md-auto">
      <%= link_to 'All Socials', events_path, class: 'btn btn-secondary ml-3' %>
      <%= link_to 'Events on Facebook', "#{@facebook_page_link}/events", class: 'btn btn-facebook ml-3' %>
    </div>
  </div>
  <hr class="border-light">
  <% if @events.count == 0 %>
    <div class="container h-100 d-flex align-items-center justify-content-center flex-column">
      <div class="alert alert-info w-50">
        <%= icon('fas', 'info-circle') %>
        No events scheduled for now.
      </div>
      <%# <%= image_tag 'noevents.gif', class: 'w-100'%>
    </div>
  <% end %>
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-md">
      <%= render event %>
      <% unless event == @events.last %>
        <hr class="d-md-none border-light">
      <% end %>
    </div>
    <% end %>
  </div>
</section>
<section id="summary">
  <div class="row">
    <div class="col d-flex align-items-center" style="min-height: 50vh; background: url(<%= asset_path 'social.jpg' %>) no-repeat scroll center center; background-size: cover;">
      <div class="text-center m-3 p-3 rounded" style="background-color: rgba(0, 0, 0, 0.7);">
        <h2>Socials</h2>
        <p>SLUGS gathers weekly for fun pick-up-and-play games and drinks. Head this way to learn which games you'll get to enjoy each week! We normally meet in Bar One at 6pm, moving on to Huttons Bar at 7.30pm.</p>
        <%# TODO: Events table %>
        <%= link_to 'View Details', events_path, class: 'btn btn-secondary' %>
      </div>
    </div>
    <div class="col d-flex align-items-center" style="min-height: 50vh; background: url(<%= asset_path 'lan.jpg' %>) no-repeat scroll center center; background-size: cover;">
      <div class="text-center m-3 p-3 rounded" style="background-color: rgba(0, 0, 0, 0.7);">
        <h2>LAN events</h2>
        <p>Once every few weeks, we run LAN events at the Ridge building in Ranmoor Student Village. They're an excellent opportunity to engage with the groups you play games with. If you've not yet been to a LAN and would like to learn more, head this way!</p>
        <p>
          <%# TODO: LAN event link %>
          <%= link_to 'View Details', lan_path, class: 'btn btn-secondary' %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex align-items-center" style="min-height: 50vh; background: url(<%= asset_path 'competitive.jpg' %>) no-repeat scroll center center; background-size: cover;">
      <div class="text-center m-3 p-3 rounded" style="background-color: rgba(0, 0, 0, 0.7);">
        <h2>Competitive</h2>
        <p>For the ranked players among you, we engage with the <abbr title="National University Esports League">NUEL</abbr> every year in games like CS:GO, League of Legends, and Rocket League. Take the fight to other universities and wave that black and gold banner!</p>
        <p>Our eSports officer will be following goings-on with NUEL, so if you're interested, keep tabs on the <b>#nuel</b> channel in the server!</p>
        <p>
          <%= link_to 'Join Discord server', @discord_invite_link, class: 'btn btn-discord' %> <%# TODO: Make actual Discord invite link startup env var %>
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-center" style="min-height: 50vh; background: url(<%= asset_path 'minecraft.jpg' %>) no-repeat scroll center center; background-size: cover;">
      <div class="text-center mx-auto my-3 p-3 rounded" style="background-color: rgba(0, 0, 0, 0.7);">
        <h2>Game Servers</h2>
        <p>We also host our own game server on sleipnir.slugsoc.co.uk. Connect to these ports to get started:</p>
        <%# TODO: Game server table %>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row px-5 pt-5 d-flex align-items-center justify-content-center" style="min-height: 100vh; background: url(<%= asset_path 'duotone/COMMITTEE-DUOTONE.jpg' %>) no-repeat fixed center; background-size: cover;">
    <div class="p-3 text-center" style="background-color: rgba(0, 0, 0, 0.7);">
      <h2>Our committee loves games!</h2>
      <p class="lead">Our committee loves games just as much as the rest of the society! They share many roles - arranging events, setting them up, providing food and consoles, and more. Head <%= link_to 'here', committee_path %> to see what they're all about.</p>
      <%= link_to 'Learn More', committee_path, class: 'btn btn-lg btn-secondary' %>
    </div>
  </div>
  <div class="row px-5 pt-5 d-flex align-items-center justify-content-center" style="min-height: 100vh; background: url(<%= asset_path 'duotone/SOCIAL_FUN-DUOTONE.jpg' %>) no-repeat fixed center; background-size: cover;">
    <div class="p-3 text-center" style="background-color: rgba(0, 0, 0, 0.7);">
      <h2>Want to join SLUGS? Here's how...</h2>
      <p class="lead">If you're a university student, sign up <b><%= link_to sign_up_path, class: 'text-students-union' do %>here <%= icon('fas', 'external-link-alt') %><% end %></b>. If not, why not <b> <%= link_to @discord_invite_link, class: 'text-discord' do %>join our Discord server <%= icon('fab', 'discord') %><% end %></b> and get involved?</p>
      <div class="btn-group d-flex-inline mb-3">
        <%= link_to sign_up_path, class: 'btn btn-lg btn-secondary' do %>
          <%= icon('fas', 'external-link-alt') %>
          Sign Up
        <% end %>
        <%= link_to @discord_invite_link, class: 'btn btn-lg btn-discord' do %>
          <%= icon('fab', 'discord') %>
          Discord
        <% end %>
      </div>
    </div>
  </div>
  <div class="row px-5 pt-5 d-flex align-items-center justify-content-center" style="min-height: 100vh; background: url(<%= asset_path 'duotone/LAN64-DUOTONE.jpg' %>) no-repeat fixed center; background-size: cover;">
    <div class="p-3 text-center " style="background-color: rgba(0, 0, 0, 0.7);">
      <h2>Feeling LANxious?</h2>
      <p class="lead">Never been to a LAN before? LANs are exciting weekend-long events, and they're the perfect opportunity to play games all weekend with your friends! Bring your desktops or consoles along and have a blast!</p>
      <p class="lead">Still feeling uncertain? Head this way to get the lowdown on LANs (and, importantly, read the rules).</p>
      <%= link_to 'Learn More', lan_path, class: 'btn btn-lg btn-secondary' %>
    </div>
  </div>
  <div class="row px-5 pt-5 d-flex align-items-center justify-content-center" style="min-height: 100vh; background: url(<%= asset_path 'duotone/TOURNEY_WIN-DUOTONE.jpg' %>) no-repeat fixed center; background-size: cover;">
    <div class="p-3 text-center" style="background-color: rgba(0, 0, 0, 0.7);">
      <h2>A massive thanks to our sponsors!</h2>
      <p class="lead">We have our sponsors to thank for the success of our events. Follow the links below to check them out!</p>
      <%= render @sponsors %>
    </div>
  </div>
</section>
