<div class="container">
  <div class="card text-dark">
    <div class="card-body text-center">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
        <div class="d-flex flex-column mx-auto" style="flex-basis: 0; flex-grow: 1;">
          <h1 class="text-center">
            <%= @event.name %>
            <small class="text-muted">at <%= @event.location %></small>
          </h1>
          <p>
            <%= icon('fas', 'clock')%>
            <%= @event.datetimes %>
            <%= icon('fas', 'gamepad') unless @event.games.blank? %>
            <%= render @event.games %>
            <% if user_signed_in? %>
              <%= link_to edit_event_path(@event), class: 'text-muted' do %>
                <%= icon('fas', 'edit') %>
              <% end %>
            <% end %>
          </p>
          <p><%= simple_format(@event.description) %></p>
          <div class="btn-group mx-auto">
            <% unless @event.facebook_event_id.blank? %>
              <%= link_to @event.facebook_event_link, class: 'btn btn-facebook' do %>
                <%= icon('fab', 'facebook') %>
                <span class="d-none d-md-inline">View on Facebook</span>
              <% end %>
            <% end %>
            <% unless @event.ticket_link.blank? %>
              <%= link_to @event.ticket_link, class: 'btn btn-secondary' do %>
                <%= icon('fas', 'ticket-alt') %>
                <span class="d-none d-md-inline">Buy Tickets</span>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= image_tag @event.image_link, class: 'pt-3 pt-md-0 mx-auto', style: "flex-basis: 0; flex-grow: 1;" unless @event.image_link.blank? %>
      </div>

    </div>
  </div>

  <% if user_signed_in? %>
    <%= link_to 'Back To Events', events_path %>
    |
  <% end %>
  <%= link_to 'Back To Upcoming Events', upcoming_events_path %>
</div>
