<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date/Time:</strong>
  <%= @event.datetime %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>LAN number:</strong>
  <%= @event.lan_number %>
</p>

<p>
  <strong>Facebook event:</strong>
  <%= @event.facebook_event_id %>
</p>

<p>
  <strong>Ticket link:</strong>
  <%= @event.ticket_link %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
