<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Platform</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td class="align-middle text-right"><%= link_to game.name, game.link %></td>
        <td class="align-middle text-center">
          <% game.platforms.each do |platform| %>
            <%= icon(*platform.icon.split) unless platform.icon.nil? %>
          <% end %>
        </td>
        <td class="align-middle">
          <div class="btn-group d-flex">
            <%= link_to game, class: 'btn btn-info w-100' do %>
              <%= icon('fas', 'info-circle', 'Show') %>
            <% end %>
            <%= link_to edit_game_path(game), class: 'btn btn-warning w-100' do %>
              <%= icon('fas', 'edit', 'Edit') %>
            <% end %>
            <%= link_to game, class: 'btn btn-danger w-100', method: :delete, data: { confirm: "Are you sure you want to delete #{game.name} from the games list?" } do %>
              <%= icon('fas', 'trash', 'Delete') %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
