<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Platforms:</strong>
  <%= @game.platforms %>
</p>

<p>
  <strong>Link:</strong>
  <%= @game.link %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
