<div class="card bg-danger text-light">
  <div class="card-header pb-0" id="heading<%= rule.id %>">
    <a data-toggle="collapse" data-target="#collapse<%= rule.id %>" aria-expanded="false" aria-controls="collapse<%= rule.id %>">
    <h4>
      <%= icon(*rule.icon.split) %> <%= rule.summary %>
    </h4>
    </a>
  </div>

  <div id="collapse<%= rule.id %>" class="collapse" aria-labelledby="heading<%= rule.id %>" data-parent="#lanRulesAccordion">
    <div class="card-body text-body"><%= rule.full %></div>
  </div>
</div>
